@use "./fonts.scss" as *;
@use "./reset.scss" as *;
@use "./variables/globals" as *;
@use "./themes/normal" as *;
@use "./themes/dark" as *;

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  font: var(--font-l);
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font: var(--font-m);
  font-weight: bold;

  // color: var(--primary-color);
}
