.app_light_theme {
  --bg-color: #fff;
  --inverted-bg-color: #000;
  --primary-color: #0449e0;
  --secondary-color: #041c65;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #049604;
}
